.chat-main
  .main-header
    .main-header__leftbox
      .main-header__leftbox__current-group 
        = @group.name
      .main-header__leftbox__member
        .main-header__leftbox__member__list-title
          Member : 
        .main-header__leftbox__member__member-list 
          - @group.users.each do |user|
            = user.name
    .main-header__edit-btn
      = link_to edit_group_path(@group) , class: "e-btn" do
        Edit
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: "type a message"
      .text
        = f.label :image, class: 'input-box__image' do
          = icon("fa","image",class: "image-icon")
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'